<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Skontaktuj się z nami.</h2>
                <hr class="primary">
                <p>Chcesz zacząć z nami projekt? Zadzwoń do nas lub napisz maila. Zapraszamy również do kontaktu w social media.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <!--<a href="https://facebook.com/{{ site.facebook_username }}">-->
            <a href="https://www.facebook.com/knowlitz">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>fb/knowlitz</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email1 }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>send email</p>
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>ig/knowlitz</p>
            </a>
        </div>
        
        <form>
        <input id="email" type="text">
        <input id="comment" type="text">
        <button type="button" onclick="handleSubmit()">Send</button>
        </form>

        
	
        <script src="js/email.js"></script>
        
        <!--
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
        -->

    </div>
</section>
