<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tworzymy Chatboty do Messenger'a</h1>
            <hr>
            <p>
                Technologie AI wykorzystywane przez globalne marki, pomagają firmom w inteligentnej automatyzacji obsługi klienta bądź e‐commerce. 
                W 100% kontrolowalne, z możliwością samodzielnego zarządzania.
            </p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Dowiedz się więcej</a>
        </div>
    </div>
</header>
