<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O naszych usługach</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>Zaangazowanie</h3>
                    <p class="text-muted">Precyzyjnie analizuje problem klientów oraz kontekst wypowiedzi.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wechat wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Konwersacja</h3>
                    <p class="text-muted">Pyta, odpowiada, prowadzi dialog, w 100% automatyczny.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-check-circle wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Spokój</h3>
                    <p class="text-muted">Rozwiązuje powtarzalne problemy, bez konieczności angażowania pracowników.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-exchange wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Transakcje i konwersje</h3>
                    <p class="text-muted">Zwiększa liczbę interakcji klientów i przekłada je na sprzedaż.</p>
                </div>
            </div>
        </div>
    </div>
</section>
