<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O naszych usługach</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Zaangazowanie</h3>
                    <p class="text-muted">Precyzyjnie analizuje problem klientów oraz kontekst.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Konwersacja</h3>
                    <p class="text-muted">Pyta, odpowiada, prowadzi dialog, w 100% wirtualny.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Rozwiązywanie</h3>
                    <p class="text-muted">W 100% automatycznie rozwiązuje część powtarzalnych problemów.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Transakcje i konwersje</h3>
                    <p class="text-muted">Zwiększa liczbę klików i konwersji, przekładając je na sprzedaż.</p>
                </div>
            </div>
        </div>
    </div>
</section>
